* {
    background-color: #292929;
    color: bisque;
}
body {
    font-family: "Droid Sans Mono", monospace;
}

div {
    margin-bottom: 50px;
}

label {
    padding: 20px;
}

button {
    padding: 20px 30px;
    border-width: 0;
    background-color: #222222;
    margin: 2px;
}


