* {
    background-color: #292929;
    color: bisque;
    font-size: 14px;
}

html {
}

body {
    font-family: "Droid Sans Mono", monospace;
    display:flex;
}

div {
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: 20px;
}

button {
    padding: 20px 30px;
    border-width: 0;
    background-color: #222222;
    margin: 2px;
}
.instruction {
    margin: 2px;
}

.instruction-current {
    background-color: bisque;
    color: #292929;
}

.memory-cell {

}

.memory-cell-highlighted {
    background-color: bisque;
    color: #292929;
}

td {
    background-color: inherit;
    color: inherit;
}

.logic-view-div {
    margin-bottom: 0;
}

.logic-view-label {
    display: inline-block;
    margin: 10px;
    width: 100px;
}


